{% extends "base.html.twig" %}

{% block body%}

<h1>
{% if editMode %}
    Modification de l'article
{% else %}
    Création d'un article
{% endif %}
</h1>
{#{{ form(formArticle) }}#}
{# form permet d'afficher la formulaire dans sa totalité #}

{# form_start( et form_end permettent de modifie et dilimeter ses champ .. modifier la methode#}
{{ form_start(formArticle, {
    attr:{
        novalidate: 'novalidate'
    }
}) }}


{# form_widget()permet de gérer l'affichage d'un champ #}
{# form_row() permet de gérer l'affichage d'un champ et son label #}
{{ form_row(formArticle.title) }}
{{ form_row(formArticle.content, { 
    label:"contenu",
    attr: {
        placeholder: "contenu de l'article"

    }
}) }}
{{ form_row(formArticle.image) }}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}

Enregistrer les modification
{% else %}
    
ajouter l'article


{% endif %}
</button>

{{ form_end(formArticle) }}

{% endblock %}